.auth-heading {
    font-size: large;
    font-weight: 500;
}

.auth-submit-btn-container {
    display: flex;
    justify-content: center;
}

.auth-submit-btn {
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    background: #FF754E;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 23px 10px 23px;
    margin-top: 2rem;
    text-decoration: none;
    width: 100%;
}

.auth-submit-btn:hover {
    background: #ff805d;
    text-decoration: none;
  }

  .auth-switch-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    padding-top: 1rem;
  }

  .auth-switch-container {
      display: flex;
      padding-top: 0.3rem;
      gap: 0.3rem;
  }