.about-us-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-content-container {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}